<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Carlos Olivares</title>

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/slick.css" type="text/css">
  <link rel="stylesheet" href="/assets/templatemo-style.css">


</head>

<body>
  <video src="/assets/video/gfp-astro-timelapse.mp4" type="video/mp4" autoplay muted loop id="bg-video">
  </video>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="cd-slider-nav">
            <nav class="navbar navbar-expand-lg" id="tm-nav">
              <a class="navbar-brand" href="#">Carlos Olivares Nieves</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-supported-content" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar-supported-content">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item selected">
                    <a class="nav-link" aria-current="page" href="#0" data-no="1">Principal</a>
                    <div class="circle"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#0" data-no="2">Proyectos</a>
                    <div class="circle"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#0" data-no="3">Acerca</a>
                    <div class="circle"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#0" data-no="4">Contacto</a>
                    <div class="circle"></div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid tm-content-container">
      <ul class="cd-hero-slider mb-0 py-5">
        <li class="px-3" data-page-no="1">
          <div class="page-width-1 page-left">
            <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
              <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Mobile Application Developer (Flutter)</h2>
                <p class="mb-4">
                  Hola, soy Carlos Olivares, un desarrollador de aplicaciones móviles con experiencia en Flutter y Dart.
                  Mi enfoque se centra en crear aplicaciones multiplataforma de alta calidad, hermosas y funcionales.
                </p>
                <p class="mb-0"> Soy un pensador analítico con habilidades en resolución de problemas y atención al
                  detalle. Mi objetivo es contribuir y aprender en un equipo de profesionales mientras continúo
                  fortaleciendo mis habilidades técnicas. </p>
              </div>
              <div class="intro-right">
                <img src="/assets/img/IMG-01.jpg" alt="Image" class="img-fluid intro-img-1">
                <img src="/assets/img/IMG-02.png" alt="Image" class="img-fluid intro-img-2">
              </div>
              <div class="circle intro-circle-1"></div>
              <div class="circle intro-circle-2"></div>
              <div class="circle intro-circle-3"></div>
              <div class="circle intro-circle-4"></div>
            </div>
            <div class="text-center">
              <a href="#0" data-page-no="2" class="btn btn-primary tm-intro-btn tm-page-link">
                Ver Proyectos
              </a>
            </div>
          </div>
        </li>
        <li data-page-no="2">
          <!-- Image Carousel -->
          <div class="mx-auto position-relative gallery-container">
            <div class="circle intro-circle-1"></div>
            <div class="circle intro-circle-2"></div>
            <div class="mx-auto tm-border-top gallery-slider">
              <figure class="effect-julia item">
                <img src="/assets/img/clima-demo.gif" alt="Image">
                <figcaption>
                  <div>
                    <p>Aplicación para conocer el clima actual de una ciudad.</p>
                  </div>
                  <a href="https://github.com/c-olivares/clima_app">View more</a>
                </figcaption>
              </figure>
              <figure class="effect-julia item">
                <img src="/assets/img/BMI video.gif" alt="Image">
                <figcaption>
                  <div>
                    <p>Calculadora de IMC.</p>
                  </div>
                  <a href="https://github.com/c-olivares/bmi_calculator">View more</a>
                </figcaption>
              </figure>
              <figure class="effect-julia item">
                <img src="/assets/img/Destini.gif" alt="Image">
                <figcaption>
                  <div>
                    <p>Juego de "Elige tú propio destino".</p>
                  </div>
                  <a href="https://github.com/c-olivares/destini_game">View more</a>
                </figcaption>
              </figure>
              <figure class="effect-julia item">
                <img src="/assets/img/dicee-demo.gif" alt="Image">
                <figcaption>
                  <div>
                    <p>Juego de "lanzar los dados".</p>
                  </div>
                  <a href="https://github.com/c-olivares/dices_app">View more</a>
                </figcaption>
              </figure>
              <figure class="effect-julia item">
                <img src="/assets/img/quizzler-demo.gif" alt="Image">
                <figcaption>
                  <div>
                    <p>Juego de "preguntas y Respuestas".</p>
                  </div>
                  <a href="#">View more</a>
                </figcaption>
              </figure>
              <figure class="effect-julia item">
                <img src="/assets/img/card.png" alt="Image">
                <figcaption>
                  <div>
                    <p>Tarjeta de Presentación Personal.</p>
                  </div>
                  <a href="https://github.com/c-olivares/my_card">View more</a>
                </figcaption>
              </figure>

            </div>
          </div>
        </li>
        <li data-page-no="3" class="px-3">
          <div class="position-relative page-width-1 page-right tm-border-top tm-border-bottom">
            <div class="circle intro-circle-1"></div>
            <div class="circle intro-circle-2"></div>
            <div class="circle intro-circle-3"></div>
            <div class="circle intro-circle-4"></div>
            <div class="tm-bg-dark content-pad">
              <h2 class="mb-4">Acerca de Mi</h2>
              <p class="mb-4">
                Aunque mi enfoque principal sea el desarrollar Apps móviles con Flutter tambien cuento con experiencia
                en el desarrollo web, donde he creado interfaces de usuario atractivas con HTML, CSS y JavaScript, y he
                utilizado Bootstrap para diseños adaptables.
                En el Backend, he trabajado con Java y Spring Boot. Además, tengo conocimientos en bases de datos MySQL
                y habilidades en control de versiones con Git y GitHub.
              </p>
              <p>
                Igualmente cuento con experiencia en QA para garantizar la calidad del código. Estoy comprometido con el
                aprendizaje continuo y me mantengo actualizado con las últimas tendencias en desarrollo web. Estoy
                seguro de que con mi actitud proactiva, mi habilidad para resolver problemas y mi enfoque en la calidad
                del código puedo contribuir al éxito de su organización.
              </p>
            </div>
          </div>
        </li>
        <li data-page-no="4">
          <div class="mx-auto page-width-2">
            <div class="row">
              <div class="col-md-6 me-0 ms-auto">
                <h2 class="mb-4">Contacto</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 tm-contact-left">
                <form action="submit.php" method="POST" class="contact-form">
                  <div class="input-group tm-mb-30">
                    <input name="name" type="text"
                      class="form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Nombre">
                  </div>
                  <div class="input-group tm-mb-30">
                    <input name="email" type="text"
                      class="form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Email">
                  </div>
                  <div class="input-group tm-mb-30">
                    <textarea rows="5" name="message"
                      class="textarea form-control rounded-0 border-top-0 border-end-0 border-start-0"
                      placeholder="Mensaje"></textarea>
                  </div>
                  <div class="input-group justify-content-end">
                    <input type="submit" class="btn btn-primary tm-btn-pad-2" value="Enviar">
                  </div>
                </form>
              </div>
              <div class="col-md-6 tm-contact-right">
                <p class="mb-4">
                  Para mayor información les invito a dejar un mensaje o ponerse en contacto por los siguientes medios:
                </p>
                <div>
                  Email: <a href="mailto:carlosolivares496@gmail.com"
                    class="tm-link-white">carlosolivares496&#64;gmail.com</a>
                </div>
                <div>
                  Linkedin: <a href="https://www.linkedin.com/in/carlos-olivares-flutter-dev"
                    class="tm-link-white">carlos-olivares-flutter-dev</a>
                </div>
                <div>
                  GitHub: <a href="https://github.com/c-olivares"
                    class="tm-link-white">https://github.com/c-olivares</a>
                </div>
                <div class="tm-mb-45">
                  Tel: <a href="tel:+54 11 37862229" class="tm-link-white">+54 11 37862229</a>
                </div>
                <!-- Map -->
                <div class="map-outer">
                  <div class="gmap-canvas">
                    <iframe width="100%" height="400" id="gmap-canvas"
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37150.20325410912!2d-58.43282693572975!3d-34.61313529286737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires!5e0!3m2!1ses-419!2sar!4v1709664619126!5m2!1ses-419!2sar"
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="container-fluid">
      <footer class="row mx-auto tm-footer">
        <div class="col-md-6 px-0">

        </div>
        <div class="col-md-6 px-0 tm-footer-right">

        </div>
      </footer>
    </div>
  </div>
  <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

  <script src="app/js/jquery-3.5.1.min.js"></script>
  <script src="app/js/bootstrap.min.js"></script>
  <script src="app/js/slick.js"></script>
  <script src="app/js/templatemo-script.js"></script>

  <script defer src="/__/firebase/9.19.1/firebase-app-compat.js"></script>
</body>

</html>